@using Application.Customers.ReadModels
@model IEnumerable<CustomersModel>;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="contianer">
    <div>

        <h1>List of Product</h1>
        <div class="w-100">
            <a href="#" class="btn" onClick="edit();">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Customer
            </a>
        </div>
        <div id="showHide">
            <h5>Show/Hide Column</h5>
            <lable>Name</lable><input type="checkbox" id="0" name="name" checked />
            <lable>FName</lable><input type="checkbox" id="1" name="fname" checked />
            <lable>Phone</lable><input type="checkbox" id="2" name="phone" checked />
            <lable>CreatedOn</lable><input type="checkbox" id="3" name="createdOn" checked />
            <lable>Action</lable><input type="checkbox" id="4" name="action" checked />
        </div>

        <table class="table table-default table-striped table-hover w-100" id="table">
            <thead>
                <tr>
                    @*<th>Id</th>*@
                    <th>Name</th>
                    <th>Fname</th>
                    <th>Phone</th>
                    <th>CreatedOn</th>
                    <th class="">Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>FName</th>
                    <th>Phone</th>
                    <th>CreatedOn</th>
                    @*<th>Action</th>*@
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
</div>
@section Scripts{
    <script src="~/views/product/Index.js">
    </script>
}